:root {
    --border_radius: 5px;
    --border: 1px solid black;
    --border_indiv: 2px dotted black;
}


* {
    box-sizing: border-box;
    margin: 2px;
    font-family: sans-serif;
}

img{
    height: 100% ;
}

.bodySection {
    align-content: space-between;
}

.headerTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #ff512f, #f09819);
    width: auto;
    height: 50px;
    font-size: xx-large;
    color: whitesmoke;
}

.header_seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    width: auto;
    height: 25px;
    font-size: x-large;
    color: whitesmoke;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    width: auto;
    height: auto;
}

.boton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 25px;
    padding: 1px;
    border-radius: var(--border_radius);
    border: var(--border);
    cursor: pointer;
}

.boton:hover {
    border: 1px dotted black;
    font-weight: bold;
}

.contenedor {
    justify-content: space-around;
    display: flex;
    background: whitesmoke;
    width: 100%;
}

.contenedorEditDelete{
    justify-content: space-around;
    display: grid;
    background: whitesmoke;
    width: 100%;
}
.EditarEliminar {
    display: flex;
    width: 100%;
}

.headersEditDelete{
    width: 100%;
}

.ingresoDatos {
    display: grid;
    width: auto;
    justify-content: space-around;
}

.tablaPersona {
    justify-self: center;
    border-left: var(--border_indiv);
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.seccionTabla {
    display: grid;
    justify-content: space-around;
    padding: 2px;
    height: 200px !important;
    overflow: auto;
}

.pieTabla, .cabezaTabla {
}


.p_view_input {
    height: 20px;
    width: 170;
    border: 1px solid #7f7f7f;
    color: black;
}

tr,
td {
    height: auto;
}

td , th{
    border: 1px dotted black;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}